<% if @result[:error].present?  %>
  <div class="error-message-area grant-border">
    <%= @result[:error] %>
  </div>
<% else %>
  <div class="success-message-area grant-border">
    <p>SUCCESS:</p>
    <ul>
      <% @result[:success].each do |success| %>
      <li><%= success.name %></li>
      <% end  %>
    </ul>

    <p>---------------------------------------</p>
    <p>FAIL:</p>
    <ul>
      <% @result[:fail].each do |fail| %>
        <li><%= fail.name %></li>
      <% end  %>
    </ul>
  </div>
<% end %>
