<template id="template-dish-today">
  <div class="row" class="template-dish-row-dish" id="today-order-template">
    <div class="col-md-12">
      <div class="thumbnail">
        <div class="caption">
          <%= render partial: 'layouts/components/image_tag_inline', locals:{image: "template-image-url", size: [60, 60], object: 'restaurant', options: {class_name: "each-dish-img", onlick: 'showPrice(this)', data: {price: 0}, alt: "template-image-name", img_size: 'thumb'}} %>

          <strong class="each-dish-name"></strong>
          <p class="each-dish-price"></p>
          <p class="each-dish-id"></p>
          <p>
                  <span>
                    <a class="btn btn-warning glyphicon glyphicon-remove" id="remove_btn_today_order_template" onclick="removeDishToday(this)"></a>
                  </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>