<template id="template-dish-today">
  <div class="media template-dish-row-dish today-dish-right" id="today-order-template">
    <div class="media-left">
      <%= render partial: 'layouts/components/image_tag_inline', locals:{image: "template-image-url", size: [60, 60], object: 'restaurant', options: {class_name: "each-dish-img", alt: "template-image-name", onclick: 'showPrice(this)', data: {price: 0}, img_size: 'thumb'}} %>
    </div>
    <div class="media-body">
      <strong class="each-dish-name"></strong>
      <p class="each-dish-price"></p>
    </div>
    <div class="media-right">
      <a class="btn btn-warning glyphicon glyphicon-remove" id="remove_btn_today_order_template" onclick="removeDishToday(this)"></a>
    </div>
  </div>
</template>