<div class="grant-border row">
  <div class="col-md-8 col-lg-8 col-sm-8">
    This function just simply create empty (with no dishes) provider for each work day of a specified month. <br>
    Example, select <span class="example-font">May 2018</span> will create 5 default providers: <br>
    <ul>
      <li>Provider_2018_May_Monday </li>
      <li>Provider_2018_May_Tuesday </li>
      <li>Provider_2018_May_Wednesday </li>
      <li>Provider_2018_May_Thursday </li>
      <li>Provider_2018_May_Friday </li>
    </ul>
  </div>
</div>
