<div class="grant-border row">
  <div class="col-md-8 col-lg-8 col-sm-8">
    We can create a provider for each month <br>
    Provider name will have form "Provider_[year]_[month]_[day]" <br>
    Example: Provider_2018_May_Monday <br>
    Therefore, we will have total 5 Providers for each month. <br>
    <strong>This function is used for providers who cooked on site at our company.</strong>
  </div>
</div>
