<div class="grant-border row">
  <div class="col-md-8 col-lg-8 col-sm-8">
    We can select any dates to inspect <br>
    Example, with selected date: <span class="example-font">2018 May 12</span>, we can inspect for May of 2018 <br>
    The day with <span class="gray">gray</span> color: Can not add dishes <br>
    The day with <span class="green">green</span> color: Can add dishes because list dishes of that date empty. <br>
    The day with <span class="red">red</span> color: Off day <br>
  </div>
</div>
