var ChosenDishTr = (function () {
    var priceTag = $("#order-new-total-price");
    var currentPrice = parseInt(priceTag.text());
    var addDish = function (s) {
        dish_obj = $(s).data("dish")
        $("#order-new-list-dish").append(ChosenDishTr.createDishTr(dish_obj))
        //debugger
        old_total = parseInt($("#order-new-total-price").text())
        new_total = old_total + parseInt(dish_obj["price"])
        $("#order-new-total-price").text(new_total)
    }

    var createDishTr = function (dish_obj) {
        var new_dish = $("<tr><td></td><td></td></tr>")

        $(new_dish.children()[0]).text(dish_obj["id"]).data("price", dish_obj["price"])
        $(new_dish.children()[1]).text(dish_obj["name"])

        createRemoveBtn(new_dish, dish_obj["price"]);
        return new_dish
    }

    var createRemoveBtn = function (parent, price) {
        var remove_btn = $("<td><a href='#'>remove</a></td>").data("price", price);
        remove_btn.click(function () {
            reduceCostInTotal(this);
            $(this).closest('tr').remove();
            return false;
        })
        parent.append(remove_btn)
    }

    var reduceCostInTotal = function (dish) {
        $("#order-new-total-price").text(parseInt($("#order-new-total-price").text()) - parseInt($(dish).data("price")));
    }

    return {
        createDishTr: createDishTr,
        addDish: addDish,
    }
})();

