<h1>Order Details</h1>
<p>User: <%= @order.user.username %></p>
<p>Date: <%= @order.date %></p>
<p>
  Dishes: <%= @order.dishes.map(&:name).join(" , ") %>
</p>

<% if is_admin? %>
    <%= render partial: 'layouts/components/amend_button_group', locals: {_delete_link: admin_order_path(@order), _edit_link: edit_admin_order_path(@order)} %>
<% end %>