<h1>All orders (<%= date_format(Date.today) %>)</h1>
<% if is_admin? %>
    <%= link_to "New orders", new_admin_order_path, class:'btn btn-primary' %>
    <br>
<% end %>
<%= render partial: 'users/components/today_all_order_details'%>