<h2> This is support page</h2>

<h4>Within left menu:</h4>
<p> Click <strong>'Order for today'</strong> to ORDER LUNCH</p>
<p>    Click to each tab 'All restaurants', 'All dishes', 'All order' to use</p>
<p> The other fields to see info</p>

<p><strong>Please help me (Duong.Vu) to improve this app by leaving feedback in 'Feeedbacks' page. </strong></p>
<br><br>
<p> Enjoy and have fun. Thank you very much! </p>
<%= link_to 'Home page', root_path %>