<ul class="pagination">
  <li><a href="#p_1">1</a></li>
  <li><a href="#p_2">2</a></li>
  <li><a href="#p_3">3</a></li>
  <li><a href="#p_4">4</a></li>
  <li><a href="#p_5">5</a></li>
</ul>

<div id="p_1">this is p1
  <p>
    Both families of helpers use the same core set of functions to generate the individual select tags and so both accept largely the same options. In particular, by default Rails will generate year options 5 years either side of the current year. If this is not an appropriate range, the :start_year and :end_year options override this. For an exhaustive list of the available options, refer to the API documentation.

    As a rule of thumb you should be using date_select when working with model objects and select_date in other cases, such as a search form which filters results by date.
  </p>
</div>
<div id="p_2">this is p2
  <p>
    Both families of helpers use the same core set of functions to generate the individual select tags and so both accept largely the same options. In particular, by default Rails will generate year options 5 years either side of the current year. If this is not an appropriate range, the :start_year and :end_year options override this. For an exhaustive list of the available options, refer to the API documentation.

    As a rule of thumb you should be using date_select when working with model objects and select_date in other cases, such as a search form which filters results by date.
  </p></div>
<div id="p_3"><h1>this is p3</h1>
  <p>
    Both families of helpers use the same core set of functions to generate the individual select tags and so both accept largely the same options. In particular, by default Rails will generate year options 5 years either side of the current year. If this is not an appropriate range, the :start_year and :end_year options override this. For an exhaustive list of the available options, refer to the API documentation.

    As a rule of thumb you should be using date_select when working with model objects and select_date in other cases, such as a search form which filters results by date.
  </p></div>
<div id="p_4"><h1>this is p4</h1>
  <p>
    Both families of helpers use the same core set of functions to generate the individual select tags and so both accept largely the same options. In particular, by default Rails will generate year options 5 years either side of the current year. If this is not an appropriate range, the :start_year and :end_year options override this. For an exhaustive list of the available options, refer to the API documentation.

    As a rule of thumb you should be using date_select when working with model objects and select_date in other cases, such as a search form which filters results by date.
  </p></div>
<div id="p_5"><h1>this is p5</h1>
  <p>
    Both families of helpers use the same core set of functions to generate the individual select tags and so both accept largely the same options. In particular, by default Rails will generate year options 5 years either side of the current year. If this is not an appropriate range, the :start_year and :end_year options override this. For an exhaustive list of the available options, refer to the API documentation.

    As a rule of thumb you should be using date_select when working with model objects and select_date in other cases, such as a search form which filters results by date.
  </p></div>