<%= render partial: 'admin/users/sap/header' %>
<%= render partial: 'admin/users/sap/explanation/explain_add_provider_for_month' %>
<h4>Step 1: Choose month to create provider</h4>
<%= render partial: 'admin/providers/components/select_month'%>
