<h4> Result of grant provider for each day on <%= @month if @month %></h4>
<% if @result %>
  <%= render partial: 'shared/creating_result', locals: { result: @result } %>
  <%= link_to 'Back to SAP', sap_page_admin_users_path, class:'btn btn-primary' %>
<% end %>
