<div class='input-group date' id= <%= datepicker_id %>>
  <input data-format="yyyy-MM-dd" type="text" class="form-control"/>
  <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
</div>
