<div class="center">
  <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number" disabled="disabled" data-type="minus" data-field="quant[2]">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
    <input type="text" name="quant[<%= component_group %>][<%= id %>]" class="form-control input-number" value="0" min="0" max="10">
    <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
  </div>
</div>