<button class="plus-btn" type="button" name="button">
  <img src="plus.svg" alt="" />
</button>
<input type="text" name="name" value="1">
<button class="minus-btn" type="button" name="button">
  <img src="minus.svg" alt="" />
</button>