<h1>List lunch orders</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Creator</th>
    <th>DateTime</th>
  </tr>


  <% @foods.each do |food| %>
      <tr>
        <td><%= food.title %></td>
        <td><%= food.description %></td>
        <td><%= food.creator %></td>
        <td><%= food.date %></td>
      </tr>
  <% end %>

</table>
