<tr class="selected-order-item">
  <td class="dish-detail">
    <h4 class="ui image header">
      <img src={{image}} class="ui rounded image" alt={{name}}>
      <div class="content">
        {{name}}
        <div class="sub header">x1</div>
      </div>
    </h4>
  </td>
  <td class="dish-price">
    {{price}}
  </td>
</tr>
