@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  padding-left: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.dish-index {
  background-color: peachpuff;
}

.restaurant-index {
  border: double;
  padding: 5%;
}

/*
.row {
  display: table;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}*/

div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#total-price-warning {
  color: mediumvioletred;
}

tr#highlight-current-user-order {
  background-color: cornflowerblue;
}

._warp_amend_button_group {
  position: absolute;
  top: 0;
  right: 0;
}

.over-budget-highlight {
  color: red;
}

.today-dish-right {
  background-color: bisque;
}

.order-restaurant-show {
  background-color: lavender;
}

.dish-media-wrap {
  background-color: khaki;
  margin-bottom: 20px;
}

// pagination test
.container2 {
  margin-top: 20px;
}

.page {
  display: none;
}

.page-active {
  display: block;
}

// end pagination test

#order-new-wrap-list-dish {
  height: 200px;
  overflow: scroll;
  background-color: bisque;
}

#order-new-wrap-dish-pagination {
  background-color: beige;
}

#search-result {
  //position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  //background: transparent;
}