@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

body {
  padding-top: 60px;
  padding-left: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.dish-index {
  background-color: peachpuff;
}

.restaurant-index {
  border: double;
  padding: 5%;
}

/*
.row {
  display: table;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}*/

div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#total-price-warning {
  color: mediumvioletred;
}

tr#highlight-current-user-order {
  background-color: cornflowerblue;
}

._warp_amend_button_group {
  position: absolute;
  top: 0;
  right: 0;
}

.over-budget-highlight {
  color: red;
}

.today-dish-right {
  background-color: bisque;
  min-height: 100px;
}

.order-restaurant-show {
  background-color: lavender;
}

.dish-show-wrap, .dish-media-wrap, .salad-left-banner, .build-salad-body, .grant-border {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.build-salad-body{
  margin: 10px;
}

.dish-media-wrap {
  background-color: khaki;
  margin-bottom: 20px;
  min-height: 100px;
}

// pagination test
.container2 {
  margin-top: 20px;
}

.page {
  display: none;
}

.page-active {
  display: block;
}

// end pagination test

#order-new-wrap-list-dish {
  height: 200px;
  overflow: scroll;
  background-color: bisque;
}

#order-new-wrap-dish-pagination {
  background-color: beige;
}

#search-result {
  //position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  //background: transparent;
}

#menu_restaurant_ids, #menu_provider_ids, #new_menu_all_restaurants, #new_menu_all_providers {
  width: 228px;
  height: auto;
}

td, th {
  word-wrap: break-word;
  max-width: 350px;
}

div.show-all-dishes {
  max-height: 500px;
  overflow-y: scroll;
}

div#restaurant-show-details {
  margin: inherit;
}

.custom-salad-price {
  color: #2b542c;
  font-weight: 500;
}

.center{
  width: 120px;
}

ul {
  list-style-type: none;
  //columns: 2;
  //-webkit-columns: 2;
  //-moz-columns: 2;
}

.wrap-group-salad-component{
  column-count: 2;
}

.build-salad-body{
  padding: 40px;
}

.grant-border{
  padding: 20px;
}

// shopping cart
.salad-component-group {
  width: 567px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  padding-bottom: 10px;
}


.select-salad-item-title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.salad-item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.salad-item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=-btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}

.btn-black{
  color: white;
  background-color: dimgray;
}

.body-center-content{
  padding: 40px;
}

.padding-20{
  padding: 20px;
}

.margin-bot-40{
  margin-bottom: 40px;
}

.margin-bot-20{
  margin-bottom: 20px;
}

.background-soft-color{
  background-color: #f2dede;
}

.background-med-color{
  background-color: #c0a16b;
}

.rest_day_stt{
  background-color: #d43f3a;
  color: #f2dede;
}

.can_not_set_stt{
  background-color: #8c8c8c;
  color: #f2dede;
}

.already_set_stt{
  background-color: #31708f;
}

.pending_stt{
  background-color: #5cb85c;
}

.need_provider_stt{
  background-color: #255625;
}

.outstanding-header{
  background-color: #c0a16b;
}

.example-font{
  font-weight: bold;
  color: #122b40;
}

.gray{
  color: gray;
}

.green{
  color: green;
}

.red{
  color: red;
}

.error-message{
  color: red;
  font-weight: bolder;
  font-size: larger;
}

.error-message-area{
  color: red;
  background-color: #e4b9c0;
  border-radius: 5px;
}

.success-message-area{
  color: darkgreen;
  background-color: #67b168;
  border-radius: 5px;
}
