@import 'variables';

.ui.segment {
  border: none;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.75em;
}

@each $type, $value in $spaceTypes {
  @each $prop, $size in $spaceSizes {
    .#{$type}-#{$prop} {
      &--all {
        #{$value}: $size $ip;
      }
      &--top, &--ends {
        #{$value}-top: $size $ip;
      }
      &--bottom, &--ends {
        #{$value}-bottom: $size $ip;
      }
      &--left, &--sides {
        #{$value}-left: $size $ip;
      }
      &--right, &--sides {
        #{$value}-right: $size $ip;
      }
    }
  }
}
